<h2>Expenses</h2>
<% @expenses.each do |e| %>
<div >
   <span class="expense">
    − <%= e.amount %>
    </span>
    | 
    <%=e.tag.try(:name) %> 
    |
    <%=e.spent_at%>
</div>
<div>
  <%= e.description %>
</div>
<% end %>